*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f1f2f6;
  font-family: sans-serif;
}
h1{
  padding: 40px 0 20px 0;
}
h2{
}
h3{
}
p{
  font-size: 25px;
}
a{
  color: black;
  text-decoration: none;
}
/*  NAV
-------------------------*/
.top{
  width: 100%;
  background-color: #f1f2f6;
}
.nav li{
  float: left;
}
.nav ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
  list-style-type: none;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
  color: black;
  font-size: 2vw;
  text-transform: uppercase;
  /*letter-spacing: 0.9px;*/
}
a:hover{
  background-color: #f1f2f6;
}
.active{
  background-color: #f1f2f6;
}
@media (max-width: 768px){
	li a{
		padding: 14px 12px 14px 12px;
		font-size: 3vw;
	}
}
/*  HOME
-------------------------*/
.bildebakgrunn{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.tophome{
  width:100%;
  position: fixed;
}
.bildebakgrunn img{
  width: 100%;
  height: auto;
  position: absolute;
}
.overskrift {
  z-index: 1;
  text-align: center;
  position: absolute;
  font-size: 4.5vw;
  font-family: 'Livvic', bold, sans-serif;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  color: #f1f2f6;
  margin-top: 13%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*  THE PROBLEM
-------------------------*/
.text{
  width: 100%;
}
.header{
  text-align: center;
  font-size: 70px;
}
.source{
  color: grey;
  margin-left: 15%;
  font-size: 9px;
}
.paragraph{
  border: darkgrey;
  border-radius: 10px;
  background-color: lightgray;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
	word-wrap: break-word;
}
.paragraph a{
	color: blue;
	text-decoration: underline;
}
.pic{
  width: 80%;
  height: auto;
  margin-left: 10%;
  border-radius: 10px;
}
/*  OUR SOLUTION
-------------------------*/

/*  SOURCES
-------------------------*/
.paragraph a:link {
    color: black;
    background-color: transparent; 
    text-decoration: underline;
}

.paragraph a:visited {
    color: darkred;
    background-color: transparent;
    text-decoration: none; 
}

.paragraph a:hover {
    color: blue;
    background-color: transparent; 
    text-decoration: underline; 
}